#wk10 { fill: #ff7e00; }
#wk11 { fill: #ffb000; }
#wk12 { fill: #ff0004; }
#wk13 { fill: #ff0004; }
#wk14 { fill: #ff00a4; }
#wk15 { fill: #ff00a4; }
#wk16 { fill: #ff00a4; }
#wk17 { fill: #ff00a4; }
#wk18 { fill: #ff8bfa; }
#wk19 { fill: #ff00a4; }
#wk20 { fill: #ff00a4; }
#wk21 { fill: #ff00a4; }
#wk22 { fill: #ff00a4; }
#wk23 { fill: #ff00a4; }
#wk24 { fill: #ff00a4; }
#wk25 { fill: #ff00a4; }
#wk26 { fill: #ff00a4; }
#wk27 { fill: #ff00a4; }
#wk28 { fill: #ff00a4; }
#wk29 { fill: #ff00a4; }
#wk30 { fill: #ff00a4; }
#wk31 { fill: #ff8bfa; }
#wk32 { fill: #ff8bfa; }
#wk33 { fill: #ff00a4; }
#wk34 { fill: #ff0004; }
#wk35 { fill: #ff0004; }
#wk36 { fill: #ff0004; }
#wk37 { fill: #ffde00; }
#wk38 { fill: #ffde00; }
#wk39 { fill: #ff0004; }
#wk40 { fill: #ff7e00; }
#wk41 { fill: #ff00a4; }
#wk42 { fill: #ff8bfa; }
#wk43 { fill: #ff8bfa; }
#wk44 { fill: #ff00a4; }
#wk45 { fill: #ff00a4; }
#wk01 { fill: #ff00a4; }
#wk02 { fill: #ff00a4; }
#wk03 { fill: #ff00a4; }
#wk04 { fill: #ff00a4; }
#wk05 { fill: #ff00a4; }
#wk06 { fill: #ff00a4; }
#wk07 { fill: #ff8bfa; }
#wk08 { fill: #ff00a4; }
#wk09 { fill: #ff00a4; }
#wkmd { fill: #ff7e00; }
#wkhal { fill: #ff7e00; }
